@import 'vars';

.layout {
  max-width: 1500px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
}

.recipeInput {
  width: 100%;
  margin-bottom: $spacing--md;

  &:last-child {
    margin-bottom: 0;
  }
}

.recipeExcerpt {
  width: 100%;
  height: 20vh;
}

.twoColumn {
  margin-bottom: $spacing--md;
}

.stepInput {
  flex: 1;
}
