@import 'vars';

.button {
  border: 1px solid $color--grayDark1;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  border: 1px solid darken($color--primary, 5%);
  background: $color--primary;
  color: $color--white;

  &:hover {
    border: 1px solid darken($color--primary, 10%);
    background: darken($color--primary, 5%);
  }

  // &:disabled {
  //   border: 1px solid darken($primaryDisabledColor, 5%);
  //   background: $primaryDisabledColor;
  // }
}
