// colors
$color--primary: #4ba614;
$color--white: #ffffff;
$color--gray: #efefef;
$color--grayDark1: #d8d8d8;
$color--grayDark: #444444;
$color--error: #ff0000;

// sizes
$borderRadius: 3px;
$padding--base: 8px;

// spacings
$spacing--base: 8px;
$spacing--md: 16px;

// font sizes
$fontSize--base: 1em;
$fontSize--xs: 0.65em;
$fontSize--sm: 0.85em;
$fontSize--md: 1em;
$fontSize--lg: 1.17em;
$fontSize--xl: 1.5em;
$fontSize--xxl: 2em;

// buttons
$color--primaryButton: $color--primary;
$color--primaryButtonDisabled: #c0e6a9;
