@import 'vars';

.textarea {
  border: 1px solid $color--grayDark1;
  border-radius: $borderRadius;
  background: $color--white;
  color: $color--grayDark;
  padding: $padding--base;
  font-size: $fontSize--base;
  box-sizing: border-box;
  outline: none;
  max-width: 100%;
  border-bottom: 2px solid $color--grayDark1;
  resize: none;

  &:focus {
    border-bottom-color: darken($color--primary, 5%);
  }
}
